/* ---------- UNIVERSAL STYLES ---------- */

body {
  background-image:url('images/scalloppattern.png');
}

@font-face {
    font-family: 'corbertregular';
    src: url('fonts/Corbert-Regular-webfont.eot');
    src: url('fonts/Corbert-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Corbert-Regular-webfont.woff2') format('woff2'),
         url('fonts/Corbert-Regular-webfont.woff') format('woff'),
         url('fonts/Corbert-Regular-webfont.ttf') format('truetype'),
         url('fonts/Corbert-Regular-webfont.svg#corbertregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.content {
  /*padding-top: 15px;*/
  padding: 2% 0;
}

p,
ul,
ol,
strong {
  font-family: effra,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  color: #0c0c0c;
  line-height: 1.6;
}

h1 {
  font-family: 'corbertregular', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
  font-weight:lighter;
  text-transform: uppercase;
  font-size: 2rem;
  color: #10a31a;
  padding: 10px 0px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.5;
}

strong {
  color: orangered;
  font-weight: bold;
}

em {
  font-style: italic;
}

hr {
  margin: 30px 0px;
  color: lightgrey;
  clear: both;
}

/* same padding for all sections */
.section-bkgd,
.section-bio,
.section-events,
.workshops {
  clear: both; /* because of the float: left on the image row above */
  background-color: hsla(0, 0%, 100%, 0.6);
  padding: 20px 30px; /* mobile */
}

/* ---------- LINKS ---------- */

/* unvisited link */
a:link {
    color: orangered;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: orangered;
    text-decoration: none;
}

/* mouse over link */
.recipe-index a:hover {
text-decoration: underline;
}

a:hover.norollover {
  text-decoration: none;
}
a:hover.hover-orange {
  color: white;
  background-color: orangered;
  text-decoration: none;
  padding: 0px 5px;
}

/* selected link */
a:active {
  color: orangered;
  background-color: white;
  text-decoration: none;
}

/* ---------- HEADER ELEMENTS ----------*/

/* main container */
header {
  /*height: 80px;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*justify-content: space-between;*/ /*use for hom kitchen left and cooking since 1980 right*/
  /*align-items: center;*/ /*use for hom kitchen left and cooking since 1980 right*/
  padding: 20px 0px;
}

/*remove this class - target header tag instead - is this better than creating a class?*/
.header-top {
  /*padding: 30px 40px;*/
  /*padding: 30px 100px;*/
}

.head-logo {
  width: 105%;
  height: auto;
  padding: 0px;
 /*position: relative;*/
  /*float: left;*/
  /*top: 10px;
  z-index: 100;*/
}

.head-logo:hover {
  color: white;
  text-decoration: none;
}

.head-subtitle {
  float: right;
  text-transform: uppercase;
  /*position: relative;*/
  top: 59px;
}

/* ---------- NAVIGATION ELEMENTS ---------- */

nav {
  clear: both;
  display: flex;
  justify-content: center;
  /*background-color: #e20000;*/
  background-image: linear-gradient(
      180deg, #e20000 0%, #e20000 20%, #8e0404 100%
   );
  margin-bottom: 10px;
}

.navigation ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px 10px;
  /*border-top: 1px solid darkgrey;*/
}

.navigation li {
  display: inline;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 8px;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  color: orange;
  text-decoration:none;
}

.navigation a:active {
    background-color: yellow;
}

/* ---------- PHOTO LINKS ON HOME PAGE ---------- */

/* overall appearance */
.photo-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  height: 200px;
  padding:20px;
  border: 8px solid #e0dede;
  margin: 20px 0px;
  background-size: cover;
}

/*#photo-link a {
   padding: 5px 10px;
   background: green;
   transition: background 0.3s ease 0.5s;
 }*/

/* hover for all photo links */
.photo-link:hover {
  /*background: orangered;*/ /* how do I create a translucent orange background?*/
  /*opacity: 0.8;*/
  border: 8px solid orangered;
  box-shadow: 2px 2px 5px hsla(0, 4%, 5%, 0.8);
}

/* titles */
.photo-link-title {
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.1;
  color: white;
  text-shadow: 2px 2px 5px hsla(0, 4%, 5%, 0.8);
}

.recipe-link {
  background: url(images/links/link-recipes.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.event-link {
  background: url(images/links/link-events.jpg) no-repeat;
  background-position: top left;
  background-size: cover;

}

.estella-link {
  background: url(images/links/link-estella.jpg) no-repeat;
  background-position: top left;
  background-size: cover;
}

/* ---------- IMAGE COLLAGES ---------- */

.img-row {
  width: 100%;
  height: auto;
  display: block;
   box-shadow: 0px 0px 15px 0px hsla(240, 2%, 10%, 0.9); /* originally didnt work...but works now since adding in the .img-row:after pseudo class */
}

/* SOLUTION for making dropshadow behind image collage show up, */
.img-row:after {
  clear: both;
  display:block;
  content:""; /* putting a placeholder in there, without this, the box-shadow does not have any 'content' for it to wrap around, which is why it doesn't show */
}

.img-nogap {
  float: left; /* Removes gap between images */
  /*box-shadow: 0px 0px 15px hsla(240, 2%, 10%, 0.9);*/
}

/*image width of food images below header - 100 divide by 5 = 20%*/
.width20percent {
  height: auto;
  width: 20%;
}

/*for all images taking up 25% of width*/
.width25percent {
  height: auto;
  width: 25%;
}

/*for all images taking up 50% of width*/
.width50percent {
  height: auto;
  width: 50%;
}

.fullwidthheight {
  height: 100%;
  width: 100%;
}

/* Image grid for 'Nourish your body' section */

.imgbox-left {
  display: inline;
  float: left;
  width: 38.3%;
}

.imgbox-right {
  display: inline;
  float: right;
  width: 61.7%;
}


/* For photos within body text - styled with border & box shadow */

.photo-left {
  border: 7px solid white;
  box-shadow: 1px 1px 9px #888888;
  margin: 0px 20px 20px 0px;
  float: left;
}

.photo-right {
  border: 8px solid white;
  box-shadow: 4px 4px 8px #666666;
  /* to center the image - for mobile */
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.photo-center {
  max-width: 100%; /* so that it won't take up more than 100%*/
  height: auto;
  border: 8px solid white;
  box-shadow: 1px 1px 9px #888888;
  /*float: left;*/
  /* to center the image - for mobile */
  margin: auto;
  margin: 20px 0px 20px 0px;
}

/* For photos within culinary events section - styled with border & box shadow */

.photo-eventhead {
  max-width: 100%; /* so that it won't take up more than 100%*/
  /*width: 455px;*/
  height: auto;
  border: 7px solid white;
  border-bottom: none;
  box-shadow: 1px 1px 9px #888888;
  margin: 10px 0px 20px 0px;
  float: left;
}

.eventimgbox-left {
  display: inline;
  float: left;
  width: 65.8%;
}

.eventimgbox-right {
  display: inline;
  float: right;
  width: 32%;
}

/* ---------- ABOUT EH SECTION ---------- */

/*.section-bio {
  padding: 50px 150px;
}*/ /*combined this with section-bkgd class*/

.quote {
  background-color: hsla(41, 100%, 50%, 0.5);
  font-family: 'Copse', serif;
  font-size: 24px;
  padding: 25px;
  margin: 20px 0px;
}

/* ---------- RECIPE ELEMENTS ---------- */

/* makes the overflow text in list items indent */
.recipe-list ul {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.recipe-list li {
  font-size: 16px;
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1.6;
  padding:0px 0px 0px 10px;
}

.recipe-instructions ol {
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.recipe-instructions li {
  list-style-type: decimal;
  list-style-position: inside;
  padding:0px 0px 10px 0px;
}

/* ---------- CULINARY EVENTS ELEMENTS ---------- */

.section-events {
  background-color: hsla(123, 55%, 78%, 0.6);
  /*padding: 50px 150px;*/
}

.workshops,
.recipes {
  /*float: left;*/
  /*background-color: hsla(0, 0%, 100%, 0.6);*/
  /*padding-left: 150px;
  padding-top: 40px;
  padding-right: 50px;*/
  /*width: 490px;*/
  display: block;
}

.p-subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  line-height: 0.5;
  /*line-height: 1;*/
}

.event-text {
  font-size: 16px;
}

/* makes the overflow text in list items indent */
.event-list ul {
  /*list-style: none;*/
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.event-list li {
  font-size: 16px;
  list-style-type: circle;
  list-style-position: inside;
  line-height: 1.6;
  padding:0px 0px 0px 10px;
}

/* ---------- BUTTONS ---------- */

.button,
input[type="submit"] {
  display: block;
  font-family: effra, Avenir, "Helvetica Neue", Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  background-color: orangered;
  background-image: linear-gradient(
      180deg, #ff6f02 0%, #ff6f02 20%, #fc4902 100%
   );
  padding: 10px 15px;
  border: 0px;
  width: 185px;
  text-shadow: 2px 2px 5px hsla(19, 91%, 25%, 0.75);
  box-shadow: 2px 2px 6px 0px #888888; /*X offset, Y offset, blur radius, spread radius (optional), colour*/
}

.button:hover,
input[type="submit"]:hover
 {
  /*background-color: #10a31a;*/
  background-image: linear-gradient(
      180deg, #10a31a 0%, #10a31a 20%, #097510 100%
   );
}

/* Aside */
.aside-event,
.aside-recipe {
  /*width: 310px;*/
  /*float:right;*/
  background-color: hsla(0, 0%, 100%, 0.6);
  padding: 40px 50px;
  /*padding: 40px 150px 30px 50px;*/
}

/*.aside-title {
  color: black;
  font-size: 26px;
}*/

/* ---------- CONTACT FORM ---------- */

.contact-form {
  width: 100%;
  margin: 20px 0px;
  /*margin: 20px auto 20px;*/
  /*padding: 20px;*/
}

.contact-form > div {
  margin: 20px 0px 20px 0px;
}

label {
  color: #262873;
  font-weight: bold;
}

label[for="vis-name"],
label[for="vis-email"],
label[for="comment"] {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select,
textarea {
  border: 1px solid #c8c8c8;
  color: #464646;
  font-size: 16px;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  outline: 0;
  border-color: #afafaf;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

input[type="text"],
textarea {
  display: block;
  padding: 5px 8px;
  border-radius: 5px;
}

input[type="text"] {
  width: 95%;
}

textarea {
  width: 95%;
}



/* ---------- FOOTER ELEMENTS ---------- */

footer {
  /*display: flex;*/
  align-items: center;
  display: block;
  clear:both;
  /*background-color: hsla(60, 0%, 67%, 0.8);*/
  background-color: hsla(138, 63%, 38%, 0.8);
  border-top: 1px solid slategrey;
  /*padding: 20px 150px 20px 150px;*/
  box-shadow: 0px -2px 15px hsla(0, 0%, 40%, 0.5);
  padding: 20px 30px; /* mobile */
}

#social {
  display: flex;
  justify-content: space-around;
}
#social ul {
  text-align: center;
}

#social li {
  display: inline-block;
  list-style-type: none;
  padding: 0px 15px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-shadow: 2px 2px 5px hsla(125, 32%, 24%, 0.75); /* adds dropshadow to text! */
}

#social li a {
  color: white;
}

#social li a:hover {
  color: #cdf7d9;
}

.copyright {
  text-align: center;
}

.footer-text {
  font-family: effra,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #294f2c;
  text-shadow: 1px 1px 2px hsla(128, 83%, 87%, 0.7); /* adds dropshadow to text! */
}

.contact {
  display: inline;
  float: right;
}



/* ---------- MEDIA QUERIES FOR 720px ---------- */

@media screen and (min-width:720px) {

/* increase font size */
  h1 {
    font-size: 2.5rem;
    padding: 7px 0px;
  }

  /* estella photo on about page */
  .photo-right {
    margin: 8px 0px 0px 20px;
    float: right;
  }

  /* increase padding */
  .section-bkgd,
  .section-bio,
  .section-events,
  .workshops {
    padding: 50px 80px;
    height: 100%;
  }

/* increase font size & line height */
  .p-subtitle {
    font-size: 1.3rem;
    line-height: 1;
  }

/* width of contact form fields */
  input[type="text"] {
    width: 50%;
  }

  textarea {
    width: 80%;
  }

}


/* ---------- MEDIA QUERIES FOR 1024px ---------- */

@media screen and (min-width:1024px) {

/* smaller font size & line height */
  p,
  ul,
  ol,
  strong {
    font-size: 16px;
    line-height: 1.5;
  }

/* increase font size */
  h1 {
    font-size: 2.75rem;
    padding: 4px 0px;
  }


  /* increase padding */
  .section-bkgd,
  .section-bio,
  .section-events {
    padding: 7.8% 15%;
    /*padding: 80px 150px;*/
  }

/* links at bottom of main page */
.container-photo-links {
  flex: 0 1 auto; /* flex grow, shrink, basis */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.photo-link {
display: flex;
flex-direction: row;
justify-content: space-between;
background-size: cover;
width: 180px;
height: 160px;
margin: 0px;
}

/* 2 COLUMN LAYOUT FOR EVENTS SECTION */

/* use flexbox instead of floats */
.container-fullwidth {
flex: 1 1 auto; /* flex grow, shrink, basis */
display: flex;
flex-direction: row;
width: 100%;
}
/* total width = 65% */
  .workshops {
    /*float: left;*/
    max-width: 50%;
    padding: 5% 5% 5% 10%; /* all paddings = %ages of 1024 */
  }

  /* total width =  35% */

  .aside-event {
    /*float:right;*/
    max-width: 20%;
    padding: 5% 10% 5% 5%;
    /*figure out how to make background go all the way to the bottom*/
  }

  .recipes {
    /*float: right;*/
    max-width: 50%;
    padding: 5% 10% 5% 5%; /* all paddings = %ages of 1024 */
  }

  .aside-recipe {
    /*float:left;*/
    max-width: 20%;
    padding: 5% 5% 5% 10%;
  }
}



To do list:
heading images for:
- recipe page
Add active state to nav
Revise nav rollover states
Nav for screen size 1024px
